<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
  <%- include("../partials/navbar.ejs") %>
  <div class="container">
    <h3><%= title %> </h3>
    <form action="/books" method="post" id="form">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="sinopsis">Sinopsis</label>
        <textarea name="sinopsis" id="sinopsis" cols="30" rows="10" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <select name="authorId" id="author" class="form-control">
          <% authors.forEach(author => { %>
            <option value=<%= author.id %>><%= author.name %> </option>
          <% }) %>
        </select>
      </div>
      <div class="form-group">
        <label for="genre">Genre</label>
        <select name="genre" id="genre" class="form-control">
          <option value="Fantasy">Fantasy</option>
          <option value="Mystery">Mystery</option>
          <option value="Romance">Romance</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Simpan</button>
      <a href="/books" class="btn btn-danger">Kembali</a>
    </form>
  </div>
</body>
</html>