<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
  <%- include("../partials/navbar.ejs") %> 
  <div class="container">
    <div class="row">
      <div class="col"><h3><%= title %> </h3></div>
      <div class="col text-right">
        <a href="/books/create" class="btn btn-primary">Tambah Buku</a>
      </div>
    </div>
    <table class="table mt-4">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Genre</th>
        </tr>
      </thead>
      <tbody>
        <% books.forEach((book, i) => { %>
          <tr>
            <th scope="row"><%= i+1 %> </th>
            <td><%= book.title %> </td>
            <td><%= book.Author.name %> </td>
            <td><%= book.genre %> </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>