<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 
<body>
  <%- include("partials/navbar.ejs") %> 
  <div class="container">
    <h1>Selamat Datang!</h1>
    <p>Ini hanya web contoh!</p>
  </div>
</body>
</html>